<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.db.mapper.UserMapper">
	<select id="checklogin" parameterType="user" resultType="user">
		SELECT * FROM USER
		 <where>
			<if test="id!=null">
				id=#{id} 
			</if>
			<if test="email!=null">
				email=#{email} 
			</if>
			<if test="phone!=null">
				phone=#{phone}
			</if>
		</where>
		AND pwd=#{pwd} 
	</select>
	
	<insert id="doSaveUser" parameterType="user">
		INSERT INTO USER(email,NAME,pwd,cdate,phone)
		VALUES(#{email},#{name},#{pwd},#{cdate},#{phone});
	</insert>
</mapper>